* {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    padding: 50%;
    display: inline;
}

p {
    padding: 10%;
    display: inline;
}

ul {

}

a {
    color: cadetblue;
    padding: 50%;
}